// @import "_footer.scss";

// footer variables
// $ftbgcolor: #333333;
// $ftHfontS: 14px;
// $ftTcol:rgb(255, 255, 255);
// $ftFilter: sepia(1);


*{
    list-style:none;
}


footer{
    position: sticky;
    top: 0px;
}

.jumbotron{
    opacity: 0.7;
<<<<<<< HEAD
}

#pierre-bg{
    background-image: url('../img/back-stone.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#opaque{
    opacity: 0.8;
    color: white;
=======
    background-color: red;
>>>>>>> lorenzo-dev
}