.jumbotron{
    opacity: 0.7;
}

#pierre-bg{
    background-image: url('../img/back-stone.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#opaque{
    opacity: 0.8;
    color: white;
}

.opaqueN{
    opacity: 0.8;
    color: black;
}

.opaqueGallery{
    background-color: rgba(255, 255, 255, 0.8);
}

footer{
    position: sticky;
    top: 0px;
}
